

#digital_clock {
	border-radius: 15px;
	text-align: center;
	display:block;
	margin:auto;
	font-size: 4.5em;
	top:40%;
	left:50%;
	position: absolute;
	border-style: dotted;
}

#text {
	text-align: center;
	margin-top: 20%;
	font-size: 60px;
	color: navy;

=======
	background-color: rgb(36, 16, 40);
}


#clock {
	text-align: center;
	font-size: 4.5em;
	display: block;
	font-weight: 100px;
	min-width: 200px;
	color: yellow;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
}